<main class="login">
  <div class="login__illustration">
    <img src="/assets/img/illustration/illustration.png" alt="illustration" className="illustration__img"
      srcSet="/assets/img/illustration/illustration.svg" width="296" height="248" />
  </div>
  <h1 class="login__title">Sign in</h1>
  <button class="login__btn" (click)="loginWithGoogle()">
    <img src="/assets/img/icons/google.png" alt="" srcSet="/assets/img/icons/google.svg" class="btn__icon" />
    Connecter avec google
  </button>
</main>
