<div class="main">
  <header class="main__header">
    <h1 class="header__title">Hello {{ authService.userData.displayName }}</h1>
    <p class="header__subtitle">Vous avez actuellement 6 articles</p>
  </header>

  <app-form *ngIf="isEditing"></app-form>
  <main class="list" *ngIf="!isEditing">
    <p class="list__description">voici votre liste</p>
    <div class="list__container">
      <app-list-item
        *ngFor="let item of groceries"
        [item]="item"
      ></app-list-item>
    </div>
  </main>
  <button class="list__add" (click)="toggleEditMode()">
    <img
      src="./img/icons/cross.png"
      alt="cross"
      srcset="./assets/img/icons/cross.svg"
    />
  </button>
</div>
